<% include header.ejs %>
<div class="dialog">
    <div>
      <h3>The page you were looking for doesn't exist.</h3>
        <i><h1><P>  404 ERROR</P></h1> </i>
        <h1> Go Back or Click any page above</h1>
    </div>

    <img src="/img/error.png" height="auto" width="100%">
  </div>
  <% include footer.ejs %>
