<% include header.ejs %>
        
      <form>
          <h2>BMI Calculator</h2>
          <h4><i> Enter your weight </i> </h4>
          <input id="weight" type="text" placeholder="Your weight in lbs" />
          <br />
          <br />
        <h4><i> Enter your height in inch (1 feet = 12 inch) </i></h4>
          <input id="height" type="text" placeholder="Your height in inch" />
          <br />
          
          <input class = "submit" type="button"  value="Submit" onclick="bmi()" />
          <h3><p id="result">Click Submit botton for result</p></h3>
          <div class="div1">
              <h2>
              <p>
            <font color = #1F2833>
              Under Weight = Less than 18.6<br/>
              Normal Range = 18.6 and 24.9<br/>
              Overweight = Greater than 24.9<br/>
            </font>
            </h2>
             </p>
            </div>
            <input type="reset" value="Reset" /> 
            </form>

      </form>
      <% include footer.ejs %>