<% include header.ejs %>
    <section id="newsletter">
      <div class="container">
        <form>
          <input type="email" placeholder="https://www.youtube.com/channel/UCaN7NPYvAfKNLupA1cc-V1A">
          <button type="submit" class="button_1">Suscribe</button>
        </form>
      </div>
    </section>

    <br><br><br><br>
<div class="container">
        <form action="action_page.php">
      
          <label for="name">Your full Name</label>
          <input type="text" id="name" name="name" placeholder="Your name..">

          <label for="email">Your email address </label>
          <input type="text" id="email" name="email" placeholder="Your email..">
      
          <label for="state">State</label>
          <select id="state" name="state">
            <option value="Missouri">Missouri</option>
            <option value="Kansas">Kansas</option>
            <option value="California">California</option>
            <option value="Texas">Texas</option>
            <option value="Maryland">Maryland</option>
          </select>
      
          <label for="suggestion">Message for me</label>
          <textarea id="suggestion" name="suggestion" placeholder="Start Here.." style="height:100px"></textarea>
      
          <input type="submit" value="Submit">
      
        </form>
      </div>
      <% include footer.ejs %>
      