<footer>
    <div class ="contact">
          <a href="https://www.facebook.com/sagar.tiwari.58323431" class="fa fa-facebook" target="_blank"> </a>
          <a href="https://twitter.com/sagarhazard10" class="fa fa-twitter" target="_blank"></a>
          <a href="https://mail.google.com/mail/u/0/#inbox" class="fa fa-google" target="_blank"></a>
          <a href="https://www.linkedin.com/in/sagar-tiwari-652a70132/" class="fa fa-linkedin" target="_blank"></a>
          <a href="https://github.com/005sagar" class="fa fa-github" target="_blank"></a>
          <a href="https://bitbucket.org/005sagar/" class="fa fa-bitbucket" target="_blank"></a>
          <br> <br>
    </div>
    <p>Sagar , Copyright &copy; 2018</p>
  </footer>
</body>
</html>
