
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content=" Simple web design">
	  <meta name="keywords" content="web design">
    <meta name="author" content="Brad Traversy">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>A01 project| Welcome</title>
    <link rel="stylesheet" href="css/Sagar.css">
    <script src="js/sagar.js"></script>
  </head>
  <body>
    <header>
        
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Sagar</span> Web Page</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/Bmi">BMI calculator</a></li>
            <li> <a href="/contact-me">Contact ME</a></li>
          </ul>
        </nav>
      </div>
      </header>